* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #dad8d8;
}

.container {
    width: 650px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #293447;
    border-radius: 15px;
}

.game {
    display: flex;
    justify-content: space-between;
    padding: 20px 27px;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(145, 144, 144);
}

.play-board {
    height: 100%;
    width: 100%;
    display: grid;
    background: black;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.food {
    background: #ff003d;
}

.head {
    background: green;
}