* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(141, 152, 253);
}

.game-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cell.x {
    color: blue;
}

.cell.o {
    color: red;
}

#status {
    font-size: 1.5em;
    margin-top: 20px;
}

#newGameButton {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #aa00ff;
    color: white;
}

#newGameButton:hover {
    background-color: #ee00ff;
}